@charset "utf8";

body {
  background-color: #202746;
  width: 40em;
}

#menu_root {
  border: 1px solid;
  background-color: #293256;
}

#spec_monitor {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  width: 12em;
  background-color: #E8B683;
}

#spec_monitor div {
  background-color: #E8B683;
  font-size: 140%;
  overflow-wrap: break-word;
}

td {
  border: 1px solid;
  background-color: #DFE2F1;
}

td.button {
  cursor: pointer;
  height: 6ex;
}

td.button:hover {
  background-color: #55ee55;
}

h1 { padding-left: 0em; }
h2 { padding-left: 1em; }
h3 { padding-left: 2em; }
h4 { padding-left: 3em; }
h5 { padding-left: 4em; }
h6 { padding-left: 5em; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
  text-decoration: underline;
}

/* vim:expandtab ff=dos fenc=utf-8 sw=2 */
